body{
    
    font-family: 'Times New Roman', Times, serif;
    background-color: yellowgreen;
}
.page{
    border: 1px solid black;
    color: whitesmoke;

}

#first{
    text-align: center;

}

h2 {
    color:yellowgreen;
    background-color: brown;
    text-align: center;
    
}
h4 {
    color:blue;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align:center;
}
.projects{
    float: left;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}



#box{
    box-sizing: border-box;
    border:2px solid black;

}
